Django==3.1.5
djangorestframework==3.12.4
geojson==2.5.0
jaraco.context==4.0.0
jsonschema==3.2.0
mistune==0.8.4
monotonic==1.5
more-itertools==8.7.0
mpmath==1.2.1
numpy==1.20.1
openpyxl==3.0.6
packaging==20.9
Pygments==2.8.0
PyInstaller==3.6
requests==2.20.0
scipy==1.6.1
xmltodict==0.12.0
