:root {
  --primary: #009688;
  --secondary: #004d40;
  --mainWhite: #f5f5f5;
  --lightDark: #424242;
  --mainDark: #333333;
  --darkRed: #bf360c;
  --lightRed: #d53816;
}
body {
  font-family: monospace;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  overflow-x: hidden !important;
}
button:focus {
  outline: none !important;
}



/* Loader Start */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: lightseagreen;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* Loader End */
.bold-red {
  font-weight: bold;
  color: var(--darkRed)
}
.boring-text {
  font-size: 18px;
  line-height: 2rem;
  font-family: system-ui;
}
